In [1]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/roberthsu2003/PythonForDataAnalysis/master/%E6%95%B8%E6%93%9A%E6%95%B4%E7%90%86_%E9%80%A3%E6%8E%A5_%E5%90%88%E4%BD%B5_%E9%87%8D%E5%A1%91/%E6%AD%B7%E5%B9%B4%E5%9C%8B%E5%85%A7%E4%B8%BB%E8%A6%81%E8%A7%80%E5%85%89%E9%81%8A%E6%86%A9%E6%93%9A%E9%BB%9E%E9%81%8A%E5%AE%A2%E4%BA%BA%E6%95%B8%E6%9C%88%E5%88%A5%E7%B5%B1%E8%A8%88.csv'

dataFrame = pd.read_csv(url,encoding='utf-8')
dataFrame.head()

,年別,類型,觀光遊憩區,細分,縣市別,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月,合計
0,2012,國家公園,陽明山國家公園,陽明山遊客中心,臺北市,12187.0,18612.0,18580.0,13329.0,14179.0,11397.0,16000.0,11791.0,10469.0,11515.0,6896.0,9631.0,154586
1,2012,國家公園,陽明山國家公園,陽明書屋,臺北市,2597.0,3617.0,5221.0,4317.0,3497.0,2815.0,3005.0,2497.0,2764.0,3701.0,2863.0,2983.0,39877
2,2012,國家公園,陽明山國家公園,陽明公園,臺北市,161000.0,463000.0,705200.0,85600.0,38600.0,28000.0,51700.0,44700.0,39000.0,36000.0,35000.0,33000.0,1720800
3,2012,國家公園,陽明山國家公園,大屯遊憩區,臺北市,17047.0,29079.0,38558.0,34332.0,43906.0,42586.0,63721.0,41881.0,51743.0,38214.0,27467.0,27306.0,455840
4,2012,國家公園,陽明山國家公園,龍鳳谷遊憩區,臺北市,21201.0,22134.0,62447.0,64691.0,16243.0,15811.0,15787.0,16963.0,16176.0,18951.0,18136.0,19135.0,307675

In [3]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      3065 non-null   int64
 1   類型      3065 non-null   object
 2   觀光遊憩區   3065 non-null   object
 3   細分      3065 non-null   object
 4   縣市別     3065 non-null   object
 5   1月      3064 non-null   float64
 6   2月      3064 non-null   float64
 7   3月      3064 non-null   float64
 8   4月      3064 non-null   float64
 9   5月      3064 non-null   float64
 10  6月      3064 non-null   float64
 11  7月      3064 non-null   float64
 12  8月      3064 non-null   float64
 13  9月      3064 non-null   float64
 14  10月     3064 non-null   float64
 15  11月     2741 non-null   float64
 16  12月     2741 non-null   float64
 17  合計      3065 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 431.1+ KB

In [4]:
# 各年份, 每個縣市, 每月 的觀光人數

df1 = dataFrame.drop(columns=['類型', '觀光遊憩區', '細分'])
df1.head()

,年別,縣市別,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月,合計
0,2012,臺北市,12187.0,18612.0,18580.0,13329.0,14179.0,11397.0,16000.0,11791.0,10469.0,11515.0,6896.0,9631.0,154586
1,2012,臺北市,2597.0,3617.0,5221.0,4317.0,3497.0,2815.0,3005.0,2497.0,2764.0,3701.0,2863.0,2983.0,39877
2,2012,臺北市,161000.0,463000.0,705200.0,85600.0,38600.0,28000.0,51700.0,44700.0,39000.0,36000.0,35000.0,33000.0,1720800
3,2012,臺北市,17047.0,29079.0,38558.0,34332.0,43906.0,42586.0,63721.0,41881.0,51743.0,38214.0,27467.0,27306.0,455840
4,2012,臺北市,21201.0,22134.0,62447.0,64691.0,16243.0,15811.0,15787.0,16963.0,16176.0,18951.0,18136.0,19135.0,307675

In [6]:
df2 = df1.set_index(['年別', '縣市別'])
df2

                 1月         2月         3月         4月        5月        6月  \
年別   縣市別
2012 臺北市    12187.0    18612.0    18580.0    13329.0   14179.0   11397.0
     臺北市     2597.0     3617.0     5221.0     4317.0    3497.0    2815.0
     臺北市   161000.0   463000.0   705200.0    85600.0   38600.0   28000.0
     臺北市    17047.0    29079.0    38558.0    34332.0   43906.0   42586.0
     臺北市    21201.0    22134.0    62447.0    64691.0   16243.0   15811.0
...             ...        ...        ...        ...       ...       ...
2021 臺中市    17919.0    22413.0    14562.0    20850.0    6404.0       0.0
     臺中市    70761.0    58994.0    72877.0    84679.0   39116.0       0.0
     臺中市  1142577.0  1227190.0  1167561.0  1033384.0  415927.0  165821.0
     臺中市   592042.0   672055.0   698734.0   565853.0  259384.0   93986.0
     臺中市   296840.0   405427.0   359029.0   599560.0  217254.0       0.0

                7月        8月        9月        10月      11月      12月       合計
年別   縣市別
2012 臺北市   16000.0   11791.0   10469.0    11515.0   6896.0   9631.0   154586
     臺北市    3005.0    2497.0    2764.0     3701.0   2863.0   2983.0    39877
     臺北市   51700.0   44700.0   39000.0    36000.0  35000.0  33000.0  1720800
     臺北市   63721.0   41881.0   51743.0    38214.0  27467.0  27306.0   455840
     臺北市   15787.0   16963.0   16176.0    18951.0  18136.0  19135.0   307675
...            ...       ...       ...        ...      ...      ...      ...
2021 臺中市     633.0    3896.0    8249.0    15638.0      NaN      NaN   110564
     臺中市    3508.0   33553.0   48770.0    91325.0      NaN      NaN   503583
     臺中市  348837.0  515960.0  651131.0  1053106.0      NaN      NaN  7721494
     臺中市  231645.0  398605.0  482115.0   658506.0      NaN      NaN  4652925
     臺中市  267140.0  361479.0  389770.0   408215.0      NaN      NaN  3304714

[3065 rows x 13 columns]

In [11]:
# 各年份, 每個縣市, 每月 的觀光人數

df3 = df2.groupby(level=['年別', '縣市別']).sum()
display(df3)

                 1月         2月         3月         4月         5月        6月  \
年別   縣市別
2012 南投縣  1499117.0  1746048.0  1536266.0  1663162.0  1263997.0  921177.0
     嘉義市    91527.0   103501.0   114432.0   118553.0   108170.0  111128.0
     嘉義縣   148953.0   168450.0   383193.0   274784.0   199686.0   95847.0
     基隆市    25460.0    25975.0    28478.0    49756.0    39617.0   42039.0
     宜蘭縣   488346.0   366411.0   299170.0   647395.0   473734.0  368535.0
...             ...        ...        ...        ...        ...       ...
2021 苗栗縣   487921.0   606775.0   241834.0   306392.0   121347.0     511.0
     連江縣     4562.0     3918.0     8116.0    24900.0    16531.0       0.0
     金門縣   113656.0    90730.0   134745.0   175182.0   104525.0       0.0
     雲林縣   662808.0  2211386.0  1002384.0  2811636.0   398096.0     300.0
     高雄市  1592975.0  2663144.0  1413914.0  1607953.0   745693.0  121448.0

                 7月         8月         9月        10月        11月        12月  \
年別   縣市別
2012 南投縣  1759512.0  1572730.0  1163129.0  1438261.0  1397173.0  1414820.0
     嘉義市   118170.0   115085.0   113022.0   115793.0   116902.0   119168.0
     嘉義縣   197300.0    52064.0   123287.0   190067.0   203166.0   201484.0
     基隆市    50342.0    45135.0    42350.0    48473.0    33434.0    25954.0
     宜蘭縣   957592.0   665604.0   348909.0   473010.0   419884.0   357550.0
...             ...        ...        ...        ...        ...        ...
2021 苗栗縣    18208.0    71275.0    98492.0   153972.0        0.0        0.0
     連江縣      306.0     2318.0     4525.0     6582.0        0.0        0.0
     金門縣      477.0     8776.0    20670.0    55476.0        0.0        0.0
     雲林縣     6545.0   199537.0   221936.0   251157.0        0.0        0.0
     高雄市   245984.0   558874.0   774677.0  1201949.0        0.0        0.0

                合計
年別   縣市別
2012 南投縣  17375392
     嘉義市   1345451
     嘉義縣   2238281
     基隆市    457013
     宜蘭縣   5866140
...            ...
2021 苗栗縣   2106727
     連江縣     71758
     金門縣    704237
     雲林縣   7765785
     高雄市  10926611

[220 rows x 13 columns]

In [16]:
df3.columns.name = '月份'
df4 = df3.stack()
display(df4)

df5 = df4.unstack(level=['縣市別', '月份'])
display(df5)

df5.to_excel('表單一.xlsx')

年別    縣市別  月份
2012  南投縣  1月      1499117.0
           2月      1746048.0
           3月      1536266.0
           4月      1663162.0
           5月      1263997.0
                     ...
2021  高雄市  9月       774677.0
           10月     1201949.0
           11月           0.0
           12月           0.0
           合計     10926611.0
Length: 2860, dtype: float64

縣市別         南投縣                                                         \
月份           1月         2月         3月         4月         5月         6月
年別
2012  1499117.0  1746048.0  1536266.0  1663162.0  1263997.0   921177.0
2013  1028371.0  2062233.0  1503379.0  1343899.0  1052825.0  1160972.0
2014  1039619.0  2137806.0  1578430.0  1515882.0  1205377.0  1240293.0
2015  1422193.0  2170855.0  1399429.0  1585949.0  1294930.0  1259772.0
2016  1163511.0  1888301.0  1441381.0  1217517.0  1193330.0  1047879.0
2017  1169726.0  1629629.0  1293281.0  1158894.0  1038173.0   681950.0
2018   800007.0  1244925.0  1106789.0  1188999.0   985415.0   847571.0
2019   833358.0  1504866.0  1387883.0  1294850.0   991749.0  1032022.0
2020   907902.0  1085889.0   578655.0   425850.0   487251.0   984558.0
2021   699352.0  1325720.0  1153097.0   911165.0   399840.0    16256.0

縣市別                                               ...        高雄市             \
月份           7月         8月         9月        10月  ...         4月         5月
年別                                                ...
2012  1759512.0  1572730.0  1163129.0  1438261.0  ...  2475720.0  2045422.0
2013  1285825.0  1350687.0  1084441.0  1226253.0  ...  2100509.0  1952285.0
2014  1535666.0  1572791.0  1201145.0  1544572.0  ...  2293724.0  2188746.0
2015  1578660.0  1433517.0  1224235.0  1626656.0  ...  2238806.0  2154395.0
2016  1614964.0  1281908.0   820322.0  1176082.0  ...  2367470.0  2503199.0
2017  1188742.0  1332116.0   859338.0  1243402.0  ...  2390604.0  2179259.0
2018  1045790.0   956028.0   872200.0   994977.0  ...  2536865.0  2140969.0
2019  1308113.0  1015200.0  1063728.0  1249913.0  ...  2698594.0  2366099.0
2020  1560764.0  1615949.0   917165.0  1130559.0  ...   868853.0   775822.0
2021    99888.0   373043.0   482427.0   767613.0  ...  1607953.0   745693.0

縣市別                                                                     \
月份           6月         7月         8月         9月        10月        11月
年別
2012  1345769.0  1874421.0  1476472.0  1587190.0  3572801.0  1765171.0
2013  1925890.0  2181548.0  2467554.0  1881926.0  3940336.0  2062510.0
2014  1971012.0  2494370.0  2199827.0  1786848.0  2269967.0  2254570.0
2015  1670041.0  2181358.0  1946937.0  1567171.0  3380625.0  2413770.0
2016  1880462.0  2569744.0  2755949.0  1659246.0  3066418.0  2103389.0
2017  1751934.0  2354959.0  2380172.0  1800167.0  3452298.0  2656338.0
2018  2020756.0  2785073.0  2402549.0  2285851.0  4318884.0  3033749.0
2019  2213350.0  2842267.0  2317400.0  1983870.0  3281260.0  2694987.0
2020  1186629.0  1575698.0  1619206.0  1388463.0  2297789.0  2152897.0
2021   121448.0   245984.0   558874.0   774677.0  1201949.0        0.0

縣市別
月份          12月          合計
年別
2012  2657783.0  29216652.0
2013  2237018.0  32029738.0
2014  2231224.0  30515786.0
2015  2365975.0  28747739.0
2016  2113741.0  32472743.0
2017  2806046.0  31342015.0
2018  3399254.0  33922631.0
2019  2841927.0  34415816.0
2020  1800631.0  22766097.0
2021        0.0  10926611.0

[10 rows x 286 columns]