In [18]:
import pandas as pd
import numpy as np

frame = pd.read_excel('學生成績單.xlsx')
frame.head()

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均  排名
0   2  郭舜昇  99  94  83  61  97  434  86.8   1
1   4  童建霖  98  94  88  63  78  421  84.2   2
2   9  游治旺  57  87  71  86  94  395  79.0   3
3  10  黃佩芬  50  99  56  99  90  394  78.8   4
4   3  李淑芳  59  75  99  70  78  381  76.2   5

In [19]:
students_frame = frame[  ['國文', '英文', '數學', '地理', '歷史']  ]
students_frame

   國文  英文  數學  地理  歷史
0  99  94  83  61  97
1  98  94  88  63  78
2  57  87  71  86  94
3  50  99  56  99  90
4  59  75  99  70  78
5  85  77  63  51  88
6  86  69  57  78  66
7  72  51  54  94  79
8  73  84  60  62  64
9  72  74  50  51  60

In [20]:
# Series
# 平均 mean, 標準差 std, 最大 max, 最小 min, 中間值 median
display(students_frame['國文'].mean())
display(students_frame['國文'].std())

75.1

16.842076937110683

In [21]:
# dataframe
# 平均 mean, 標準差 std, 最大 max, 最小 min, 中間值 median
display(students_frame.mean())
display(students_frame.mean(axis=1))

display(students_frame.std())
display(students_frame.std(axis=1))

display(students_frame.sum())
display(students_frame.sum(axis=1))

國文    75.1
英文    80.4
數學    68.1
地理    71.5
歷史    79.4
dtype: float64

0    86.8
1    84.2
2    79.0
3    78.8
4    76.2
5    72.8
6    71.2
7    70.0
8    68.6
9    61.4
dtype: float64

國文    16.842077
英文    14.331008
數學    16.562676
地理    17.096133
歷史    12.937456
dtype: float64

0    15.690762
1    14.042792
2    14.882876
3    23.931151
4    14.652645
5    15.562776
6    11.166915
7    17.874563
8     9.939819
9    11.304866
dtype: float64

國文    751
英文    804
數學    681
地理    715
歷史    794
dtype: int64

0    434
1    421
2    395
3    394
4    381
5    364
6    356
7    350
8    343
9    307
dtype: int64

In [22]:
# 早期做法, 沒有 index, 只有 值
for item in students_frame['國文']:
    print(item)
print()
for item in students_frame['國文']:
    if item >= 80:
        print('優')
    elif item >= 70:
        print('甲')
    else:
        print('一般')

99
98
57
50
59
85
86
72
73
72

優
優
一般
一般
一般
優
優
甲
甲
甲

In [23]:
# Series 使用 map
def fun1(s):
    if s >= 80:
        return '優'
    elif s >= 70:
        return '甲'
    else:
        return '一般'

# 產生一組新的 Series    
students_frame['國文等級'] = students_frame['國文'].map(fun1)
students_frame

C:\TEMP\ipykernel_3368\224320219.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students_frame['國文等級'] = students_frame['國文'].map(fun1)

   國文  英文  數學  地理  歷史 國文等級
0  99  94  83  61  97    優
1  98  94  88  63  78    優
2  57  87  71  86  94   一般
3  50  99  56  99  90   一般
4  59  75  99  70  78   一般
5  85  77  63  51  88    優
6  86  69  57  78  66    優
7  72  51  54  94  79    甲
8  73  84  60  62  64    甲
9  72  74  50  51  60    甲