In [14]:
# 清理 索引(列) 和 欄位(行)
# reindex()
# drop()

import pandas as pd
import numpy as np

s1 = pd.Series([4.5, 7.2, -5.3, 3.6], index=['a', 'b', 'c', 'd'])
s1

a    4.5
b    7.2
c   -5.3
d    3.6
dtype: float64

In [17]:
s1.index = ['aa', 'bb', 'cc', 'dd']
print(s1)

#利用 reindex 刪除 列
s2 = s1.reindex( ['aa', 'bb'] )
print(s2)

aa    4.5
bb    7.2
cc   -5.3
dd    3.6
dtype: float64
aa    4.5
bb    7.2
dtype: float64

In [23]:
# 改變 維度

frame1 = pd.DataFrame( np.arange(9).reshape(3, 3),
             index=['a', 'b', 'c'],
             columns=['台北', '台中', '高雄'])

display(frame1)

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [28]:
# 只列出 我要的 列

frame1.reindex(['a', 'c'])

   台北  台中  高雄
a   0   1   2
c   6   7   8

In [29]:
# 改變 行(欄位) 的順序

frame1.reindex(['a', 'b'], columns=['高雄', '台北', '台中'])

   高雄  台北  台中
a   2   0   1
b   5   3   4