In [4]:
import pandas as pd
import numpy as np

# np 的 randn 可以建立 二維
frame1 = pd.DataFrame(np.random.randn(4, 3),
                      columns = ['b', 'd', 'e'],
                      index = ['台北', '台中', '台南', '高雄'],
                     )
frame1

           b         d         e
台北 -0.844048 -0.098210 -0.748526
台中  1.592279 -1.506575 -1.289787
台南 -1.441239 -1.075775  0.209091
高雄 -1.109186  0.905725  0.083407

In [10]:
# 使用 numpy
# 絕對值, 負變成正
display(np.abs(frame1))

# 全部平均
display( np.mean(frame1) )

# 平均
display( np.mean(frame1, axis=0) )

# 平均
display( np.mean(frame1, axis=1) )

           b         d         e
台北  0.844048  0.098210  0.748526
台中  1.592279  1.506575  1.289787
台南  1.441239  1.075775  0.209091
高雄  1.109186  0.905725  0.083407

-0.44357028249239433

b   -0.450548
d   -0.443709
e   -0.436454
dtype: float64

台北   -0.563595
台中   -0.401361
台南   -0.769308
高雄   -0.040018
dtype: float64

In [13]:
# DataFrame 的實體方法

display( frame1.mean(axis=0) )
display( frame1.mean(axis=1) )

b   -0.450548
d   -0.443709
e   -0.436454
dtype: float64

台北   -0.563595
台中   -0.401361
台南   -0.769308
高雄   -0.040018
dtype: float64

In [17]:
# 使用 Series
s1 = frame1.loc['台北']
display( s1.mean() )
display( np.mean(s1))

-0.5635947278868443

-0.5635947278868443