In [28]:
# 使用 list 建立 Series
import pandas as pd

s1 = pd.Series([4, 7, -5, 3])
print(s1)
print(s1[1])
print(type(s1.values), s1.index)
print(type(s1.values), s1.values)

print()
s2 = pd.Series(['4', '7', '-5', '3'], index=['S1', 'S2', 'S3', 'S4'])
print(s2)
print(s2['S3'])
print(type(s2.values), s2.index)
print(type(s2.values), s2.values)

0    4
1    7
2   -5
3    3
dtype: int64
7
<class 'numpy.ndarray'> RangeIndex(start=0, stop=4, step=1)
<class 'numpy.ndarray'> [ 4  7 -5  3]

S1     4
S2     7
S3    -5
S4     3
dtype: object
-5
<class 'numpy.ndarray'> Index(['S1', 'S2', 'S3', 'S4'], dtype='object')
<class 'numpy.ndarray'> ['4' '7' '-5' '3']

In [29]:
print(s2['S1'])
s2['S1'] = 10
print(s2['S1'])

s3 = s2[  ['S3', 'S2', 'S4', 'S1']  ]
print(s3)

4
10
S3    -5
S2     7
S4     3
S1    10
dtype: object

In [34]:
# numpy 的 ndarray 可以進行 運算

import numpy as np

print(s1 * 2)
print(s2 * 2)

print(np.exp(s1))

0     8
1    14
2   -10
3     6
dtype: int64
S1      20
S2      77
S3    -5-5
S4      33
dtype: object
0      54.598150
1    1096.633158
2       0.006738
3      20.085537
dtype: float64

In [40]:
# index 的 大小寫 是 不一樣的

print( 5 in s1, 3 in s1 )
print( 's1' in s2, 'S1' in s2 )

False True
False True

In [63]:
# dictionary 建立 Series
import pandas as pd

sdata = {'國文':78, '英文': 86, '數學': 60, '歷史': 98}

s3 = pd.Series(sdata)
print(s3)
print()
ns3 = pd.Series(sdata, index=['數學', '英文', '自然'])
print(ns3)
print()

print(pd.isnull(ns3))
print()

# 使用 pandas 的 函數
print(pd.notnull(ns3))
# 使用 ns3 實體 的 方法
print(ns3.notnull())

國文    78
英文    86
數學    60
歷史    98
dtype: int64

數學    60.0
英文    86.0
自然     NaN
dtype: float64

數學    False
英文    False
自然     True
dtype: bool

數學     True
英文     True
自然    False
dtype: bool
數學     True
英文     True
自然    False
dtype: bool

In [76]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000, 'yy':1000}
s5 = pd.Series(sdata)
print(s5)
print()
sdata = {'台北':25000, '桃園':66000, '台中':17000, '高雄':15000, 'xx':1000}
s6 = pd.Series(sdata)
print(s6)
print()
print( s5 + s6 )

台北    35000
桃園    71000
台中    16000
高雄     5000
yy     1000
dtype: int64

台北    25000
桃園    66000
台中    17000
高雄    15000
xx     1000
dtype: int64

xx         NaN
yy         NaN
台中     33000.0
台北     60000.0
桃園    137000.0
高雄     20000.0
dtype: float64

In [92]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
s7 = pd.Series(sdata)
print( s7.values )
print( s7.index )

# index 可以被更改
s7.index = ['a', 'b', 'c', 'd']

# 可以改內容
s7[:] = [100, 200, 300, 400]
print(s7)

[35000 71000 16000  5000]
Index(['台北', '桃園', '台中', '高雄'], dtype='object')
a    100
b    200
c    300
d    400
dtype: int64

In [95]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
s8 = pd.Series(sdata)
s8.name = '台灣縣市'
print(s8)
print()

s8.index.name = '縣市'
print(s8)

台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣縣市, dtype: int64

縣市
台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣縣市, dtype: int64