In [1]:
import pandas as pd

df = pd.read_csv('各鄉鎮市區人口密度.csv')
df.head(n=5)

   統計年     區域別   年底人口數     土地面積   人口密度
0  102  臺南市將軍區   20808  41.9796    496
1  102  高雄市新興區   53170   1.9764  26902
2  102  高雄市前金區   28038   1.8573  15096
3  102  高雄市苓雅區  177716   8.1522  21800
4  102  高雄市前鎮區  194835  19.1207  10190

In [21]:
df['區域別'].head(n=5)

0    臺南市將軍區
1    高雄市新興區
2    高雄市前金區
3    高雄市苓雅區
4    高雄市前鎮區
Name: 區域別, dtype: object

In [22]:
# Series.map() 修改完後, 可以存回原內容

def my_replace(v):
    return f'台灣-{v}'

df['區域別'].map(my_replace)

0      台灣-臺南市將軍區
1      台灣-高雄市新興區
2      台灣-高雄市前金區
3      台灣-高雄市苓雅區
4      台灣-高雄市前鎮區
         ...
365    台灣-新北市板橋區
366    台灣-新北市三重區
367    台灣-新北市中和區
368    台灣-新北市永和區
369    台灣-新北市新莊區
Name: 區域別, Length: 370, dtype: object

In [23]:
def to_int(v):
    if v == '…':
        return 0
    return int(v)

df['年底人口數'] = df['年底人口數'].map(to_int)
df

     統計年     區域別   年底人口數     土地面積   人口密度
0    102  臺南市將軍區   20808  41.9796    496
1    102  高雄市新興區   53170   1.9764  26902
2    102  高雄市前金區   28038   1.8573  15096
3    102  高雄市苓雅區  177716   8.1522  21800
4    102  高雄市前鎮區  194835  19.1207  10190
..   ...     ...     ...      ...    ...
365  102  新北市板橋區  556920  23.1373  24070
366  102  新北市三重區  389813  16.3170  23890
367  102  新北市中和區  415742  20.1440  20639
368  102  新北市永和區  229062   5.7138  40089
369  102  新北市新莊區  409760  19.7383  20760

[370 rows x 5 columns]

In [24]:
# 千位數 請加 , 號
def fun1(v):
    return f'{v:,}'

df['年底人口數'] = df['年底人口數'].map(fun1)
df

     統計年     區域別    年底人口數     土地面積   人口密度
0    102  臺南市將軍區   20,808  41.9796    496
1    102  高雄市新興區   53,170   1.9764  26902
2    102  高雄市前金區   28,038   1.8573  15096
3    102  高雄市苓雅區  177,716   8.1522  21800
4    102  高雄市前鎮區  194,835  19.1207  10190
..   ...     ...      ...      ...    ...
365  102  新北市板橋區  556,920  23.1373  24070
366  102  新北市三重區  389,813  16.3170  23890
367  102  新北市中和區  415,742  20.1440  20639
368  102  新北市永和區  229,062   5.7138  40089
369  102  新北市新莊區  409,760  19.7383  20760

[370 rows x 5 columns]

In [28]:
def fun2(v):
    if v == '…':
        v = 0
    else:
        v = int(v)
    return f'{v:,}'

df['人口密度'] = df['人口密度'].map(fun2)
df

     統計年     區域別    年底人口數     土地面積    人口密度
0    102  臺南市將軍區   20,808  41.9796     496
1    102  高雄市新興區   53,170   1.9764  26,902
2    102  高雄市前金區   28,038   1.8573  15,096
3    102  高雄市苓雅區  177,716   8.1522  21,800
4    102  高雄市前鎮區  194,835  19.1207  10,190
..   ...     ...      ...      ...     ...
365  102  新北市板橋區  556,920  23.1373  24,070
366  102  新北市三重區  389,813  16.3170  23,890
367  102  新北市中和區  415,742  20.1440  20,639
368  102  新北市永和區  229,062   5.7138  40,089
369  102  新北市新莊區  409,760  19.7383  20,760

[370 rows x 5 columns]