In [2]:
import numpy as np
import pandas as pd

# Series 階層式 索引, 有兩層, 就是 二維資料
# 裡面的值 叫做 堆疊資料

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    1.422198
   2   -0.835229
   3   -0.447138
b  1   -1.030993
   2   -0.899060
c  3    1.386011
   1    0.101896
d  2   -0.222352
   3   -0.485494
dtype: float64

In [3]:
data['a']

1    1.422198
2   -0.835229
3   -0.447138
dtype: float64

In [4]:
data['b']

1   -1.030993
2   -0.899060
dtype: float64

In [9]:
# 解開 堆疊, 變成 DataFrame, 就會有 NaN
v1 = data.unstack()

display(v1)
display(type(v1))

          1         2         3
a  1.422198 -0.835229 -0.447138
b -1.030993 -0.899060       NaN
c  0.101896       NaN  1.386011
d       NaN -0.222352 -0.485494

pandas.core.frame.DataFrame

In [10]:
# 再變成 推疊資料, 會變成 Series, 不會有 NaN

v1 = data.unstack().stack()

display(v1)
display(type(v1))

a  1    1.422198
   2   -0.835229
   3   -0.447138
b  1   -1.030993
   2   -0.899060
c  1    0.101896
   3    1.386011
d  2   -0.222352
   3   -0.485494
dtype: float64

pandas.core.series.Series

In [22]:
import numpy as np
import pandas as pd


# 四維資料
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
display(frame)

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [23]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['縣市', '顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [24]:
frame.stack().stack()

key1  key2  顏色     縣市
a     1     Green  台北     0.0
                   台中     2.0
            Red    台北     1.0
      2     Green  台北     3.0
                   台中     5.0
            Red    台北     4.0
b     1     Green  台北     6.0
                   台中     8.0
            Red    台北     7.0
      2     Green  台北     9.0
                   台中    11.0
            Red    台北    10.0
dtype: float64

In [30]:
# 多維資料 -> 樞紐 分析表

v1 = frame.stack(level=['縣市', '顏色'])
display(v1)

v2 = v1.unstack(level='key1')
display(v2)

v3 = v1.unstack(level=['key1', '縣市'])
display(v3)

v4 = v1.unstack(level=['key1', '縣市', '顏色'])
display(v4)

key1  key2  縣市  顏色
a     1     台中  Green     2.0
            台北  Green     0.0
                Red       1.0
      2     台中  Green     5.0
            台北  Green     3.0
                Red       4.0
b     1     台中  Green     8.0
            台北  Green     6.0
                Red       7.0
      2     台中  Green    11.0
            台北  Green     9.0
                Red      10.0
dtype: float64

key1             a     b
key2 縣市 顏色
1    台中 Green  2.0   8.0
     台北 Green  0.0   6.0
        Red    1.0   7.0
2    台中 Green  5.0  11.0
     台北 Green  3.0   9.0
        Red    4.0  10.0

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0

key1     a                b
縣市      台中    台北         台中    台北
顏色   Green Green  Red Green Green   Red
key2
1      2.0   0.0  1.0   8.0   6.0   7.0
2      5.0   3.0  4.0  11.0   9.0  10.0