In [1]:
import pandas as pd

df1 = pd.read_csv('world.csv')

df1[0:3]
# df1.head(3)

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0

In [18]:
# 洲名	國家	日期	總確診數	新增確診數	七天移動平均新增確診數	總死亡數	新增死亡數	...	七天移動平均疫苗新增接種劑數	每百人接種疫苗劑數	每百人接種疫苗人數	疫情控管指數	總人口數	中位數年紀	70歲以上人口比例	平均壽命	解除隔離數	解封指數

print(   df1[ ['洲名', '國家', '日期', '總確診數', '新增確診數', '總人口數', '解封指數'] ][:5]   )
print()

alldf = df1[ ['洲名', '國家', '日期', '總確診數', '新增確診數', '總人口數', '解封指數'] ]
print(alldf[:5])

print()

# 列出 只有 台灣 DataFrame
taiwan = alldf[ alldf['國家'] == '台灣' ]
print(taiwan[:5])
print()
print(taiwan[ taiwan['新增確診數'] >= 80000 ][:5])
print()
print(alldf[ (alldf['國家'] == '台灣') & (alldf['新增確診數'] >= 80000) ][:5])

   洲名   國家          日期  總確診數  新增確診數      總人口數     解封指數
0  亞洲  阿富汗  2020-02-24     5      5  39835428  99999.0
1  亞洲  阿富汗  2020-02-25     5      0  39835428  99999.0
2  亞洲  阿富汗  2020-02-26     5      0  39835428  99999.0
3  亞洲  阿富汗  2020-02-27     5      0  39835428  99999.0
4  亞洲  阿富汗  2020-02-28     5      0  39835428  99999.0

        洲名  國家          日期  總確診數  新增確診數      總人口數     解封指數
163986  亞洲  台灣  2020-01-16     0      0  23855008  99999.0
163987  亞洲  台灣  2020-01-17     0      0  23855008  99999.0
163988  亞洲  台灣  2020-01-18     0      0  23855008  99999.0
163989  亞洲  台灣  2020-01-19     0      0  23855008  99999.0
163990  亞洲  台灣  2020-01-20     0      0  23855008  99999.0
        洲名  國家          日期     總確診數   新增確診數      總人口數    解封指數
164830  亞洲  台灣  2022-05-09   397504  128935  23855008   25.86
164831  亞洲  台灣  2022-05-10   448323   50819  23855008   29.28
164832  亞洲  台灣  2022-05-11   505455   57132  23855008   33.14
164833  亞洲  台灣  2022-05-12   570870   65415  23855008   37.55
164835  亞洲  台灣  2022-05-14   699824  128954  23855008   46.24
164836  亞洲  台灣  2022-05-15   768543   68719  23855008   50.88
164837  亞洲  台灣  2022-05-16   830257   61714  23855008   55.04
164838  亞洲  台灣  2022-05-17   896059   65802  23855008   59.48
164839  亞洲  台灣  2022-05-18   981141   85082  23855008   65.22
164840  亞洲  台灣  2022-05-19  1070561   89420  23855008   71.25
164841  亞洲  台灣  2022-05-20  1156291   85730  23855008   77.03
164842  亞洲  台灣  2022-05-21  1240897   84606  23855008   82.74
164843  亞洲  台灣  2022-05-22  1320371   79474  23855008   88.10
164844  亞洲  台灣  2022-05-23  1386640   66269  23855008   92.57
164845  亞洲  台灣  2022-05-24  1469019   82379  23855008   98.12
164846  亞洲  台灣  2022-05-25  1558380   89361  23855008  104.15
164847  亞洲  台灣  2022-05-26  1640271   81891  23855008  109.68
164848  亞洲  台灣  2022-05-27  1735067   94796  23855008  116.08
164849  亞洲  台灣  2022-05-28  1815703   80636  23855008  121.52
164850  亞洲  台灣  2022-05-29  1892272   76569  23855008  126.69
164851  亞洲  台灣  2022-05-30  1952355   60083  23855008  130.75
164852  亞洲  台灣  2022-05-31  2032983   80628  23855008  136.19
164853  亞洲  台灣  2022-06-01  2121231   88248  23855008  142.15
164854  亞洲  台灣  2022-06-02  2198161   76930  23855008   -1.00
164855  亞洲  台灣  2022-06-03  2274666   76505  23855008  152.51
164856  亞洲  台灣  2022-06-04  2342794   68128  23855008  157.10
164857  亞洲  台灣  2022-06-05  2404871   62077  23855008  161.31
164858  亞洲  台灣  2022-06-06  2457881   53010  23855008  164.89
164859  亞洲  台灣  2022-06-07  2540871   82990  23855008  170.49
164860  亞洲  台灣  2022-06-08  2620941   80070  23855008  175.90
164861  亞洲  台灣  2022-06-09  2693787   72846  23855008  180.83
164862  亞洲  台灣  2022-06-10  2762080   68293  23855008  185.44
164863  亞洲  台灣  2022-06-11  2841696   79616  23855008  190.82
164864  亞洲  台灣  2022-06-12  2892263   50567  23855008  194.24
164866  亞洲  台灣  2022-06-14  3003501   66138  23855008  201.76
164867  亞洲  台灣  2022-06-15  3072432   68931  23855008  206.41
164868  亞洲  台灣  2022-06-16  3135565   63133  23855008  210.68
164869  亞洲  台灣  2022-06-17  3190787   55222  23855008  214.41
164870  亞洲  台灣  2022-06-18  3244453   53666  23855008  218.04
164871  亞洲  台灣  2022-06-19  3295076   50623  23855008  221.47
164873  亞洲  台灣  2022-06-21  3387061   56366  23855008  227.69
164874  亞洲  台灣  2022-06-22  3439279   52218  23855008  231.22

In [25]:
# 列出 前三筆
taiwan[ taiwan['新增確診數'] >= 50000 ][0:3]

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164830  亞洲  台灣  2022-05-09  397504  128935  23855008  25.86
164831  亞洲  台灣  2022-05-10  448323   50819  23855008  29.28
164832  亞洲  台灣  2022-05-11  505455   57132  23855008  33.14

In [22]:
max1 = taiwan['新增確診數'].max()
print(max1)

taiwan[ taiwan['新增確診數'] == max1 ]

128954

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [21]:
taiwan[ taiwan['新增確診數'] == taiwan['新增確診數'].max() ]

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [34]:
# 使用 query() 搜尋
janpan = alldf.query('國家=="日本"')
janpan[0:3]

       洲名  國家          日期  總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22     2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23     2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24     2      0  126050796  99999.0

In [35]:
janpan[ janpan['新增確診數'] == janpan['新增確診數'].max() ]

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0