In [8]:
import pandas_datareader.data as pdr
import yfinance as yf

data = yf.download("AAPL", period="1mo")
data
# yf.pdr_override()
# print()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-05,188.279999,189.979996,187.610001,189.699997,189.699997,45280000
2023-09-06,188.399994,188.850006,181.470001,182.910004,182.910004,81755800
2023-09-07,175.179993,178.210007,173.539993,177.559998,177.559998,112488800
2023-09-08,178.350006,180.240005,177.789993,178.179993,178.179993,65551300
2023-09-11,180.070007,180.300003,177.339996,179.360001,179.360001,58953100
2023-09-12,179.490005,180.130005,174.820007,176.300003,176.300003,90370200
2023-09-13,176.509995,177.300003,173.979996,174.210007,174.210007,84267900
2023-09-14,174.000000,176.100006,173.580002,175.740005,175.740005,60895800
2023-09-15,176.479996,176.500000,173.820007,175.009995,175.009995,109205100
2023-09-18,176.479996,179.380005,176.169998,177.970001,177.970001,67257600
2023-09-19,177.520004,179.630005,177.130005,179.070007,179.070007,51826900
2023-09-20,179.259995,179.699997,175.399994,175.490005,175.490005,58436200
2023-09-21,174.550003,176.300003,173.860001,173.929993,173.929993,63047900
2023-09-22,174.669998,177.080002,174.050003,174.789993,174.789993,56725400
2023-09-25,174.199997,176.970001,174.149994,176.080002,176.080002,46172700
2023-09-26,174.820007,175.199997,171.660004,171.960007,171.960007,64588900
2023-09-27,172.619995,173.039993,169.050003,170.429993,170.429993,66921800
2023-09-28,169.339996,172.029999,167.619995,170.690002,170.690002,56294400
2023-09-29,172.020004,173.070007,170.339996,171.210007,171.210007,51814200
2023-10-02,171.220001,174.300003,170.929993,173.750000,173.750000,52115400

In [20]:
import yfinance as yf

data1 = yf.download("2330.TW", start="2023-09-15", end="2023-10-03")
tw2330 = data1[ ['Adj Close'] ]

tw2330.columns = ['台積電']
tw2330

[*********************100%%**********************]  1 of 1 completed

              台積電
Date
2023-09-15  558.0
2023-09-18  540.0
2023-09-19  538.0
2023-09-20  535.0
2023-09-21  527.0
2023-09-22  522.0
2023-09-25  525.0
2023-09-26  519.0
2023-09-27  522.0
2023-09-28  523.0
2023-10-02  533.0

In [21]:
data2 = yf.download("2303.TW", start="2023-09-15", end="2023-10-03")
tw2303 = data2[ ['Adj Close'] ]

tw2303.columns = ['聯電']
tw2303

[*********************100%%**********************]  1 of 1 completed

                   聯電
Date
2023-09-15  47.599998
2023-09-18  46.500000
2023-09-19  46.200001
2023-09-20  45.900002
2023-09-21  45.650002
2023-09-22  45.349998
2023-09-25  45.650002
2023-09-26  44.750000
2023-09-27  44.400002
2023-09-28  45.200001
2023-10-02  45.750000

In [22]:
data3 = yf.download("2454.TW", start="2023-09-15", end="2023-10-03")
tw2454 = data3[ ['Adj Close'] ]

tw2454.columns = ['聯發科']
tw2454

[*********************100%%**********************]  1 of 1 completed

              聯發科
Date
2023-09-15  763.0
2023-09-18  782.0
2023-09-19  773.0
2023-09-20  759.0
2023-09-21  746.0
2023-09-22  746.0
2023-09-25  755.0
2023-09-26  737.0
2023-09-27  737.0
2023-09-28  735.0
2023-10-02  745.0

In [24]:
data4 = yf.download("2317.TW", start="2023-09-15", end="2023-10-03")
tw2317 = data4[ ['Adj Close'] ]

tw2317.columns = ['鴻海']
tw2317

[*********************100%%**********************]  1 of 1 completed

               鴻海
Date
2023-09-15  106.0
2023-09-18  106.5
2023-09-19  106.5
2023-09-20  106.0
2023-09-21  105.0
2023-09-22  105.0
2023-09-25  105.5
2023-09-26  104.0
2023-09-27  104.0
2023-09-28  104.0
2023-10-02  104.5

In [29]:
import pandas as pd


frame = pd.concat([tw2330, tw2303, tw2454, tw2317], axis=1)
frame

              台積電         聯電    聯發科     鴻海
Date
2023-09-15  558.0  47.599998  763.0  106.0
2023-09-18  540.0  46.500000  782.0  106.5
2023-09-19  538.0  46.200001  773.0  106.5
2023-09-20  535.0  45.900002  759.0  106.0
2023-09-21  527.0  45.650002  746.0  105.0
2023-09-22  522.0  45.349998  746.0  105.0
2023-09-25  525.0  45.650002  755.0  105.5
2023-09-26  519.0  44.750000  737.0  104.0
2023-09-27  522.0  44.400002  737.0  104.0
2023-09-28  523.0  45.200001  735.0  104.0
2023-10-02  533.0  45.750000  745.0  104.5