In [17]:
# pip install jinja2

import pandas as pd

data1 = {   '縣市': ['台北', '台中'],
            '人口': [1000, 3000],
            '補助': [111.2345, 333.4567]    }

df1 = pd.DataFrame(data1)
display(df1)

# 美化格式
df1.style.format(precision=2, thousands=',') \
         .relabel_index(['列1', '列2'])

   縣市    人口        補助
0  台北  1000  111.2345
1  台中  3000  333.4567

In [37]:
import pandas as pd

data2 = [   {'縣市':'台北', '人口': 1000, '補助': 111.23},
            {'縣市':'台中', '人口': 3000, '補助': 333.45}   ]

df2 = pd.DataFrame(data2)
display(df2)

   縣市    人口      補助
0  台北  1000  111.23
1  台中  3000  333.45

In [35]:
import numpy as np

def feel_condition(v) -> str:
    if v < 0.35:
        return '溫暖'
    elif v < 0.75:
        return '潮濕'
    else:
        return '乾燥'

# 建立 二維
d1 = np.random.rand(5, 2)
print(d1)

df = pd.DataFrame(d1, 
                  columns=['col1', 'col2'], 
                  index=pd.date_range(start='2023-09-01', periods=5))
print(df)

df.style.format(feel_condition, precision=5, thousands=',') \
        .set_caption('體感溫度') \
        .background_gradient(cmap='PuBuGn', vmin=0.5, vmax=1, axis=None)

[[0.9437487  0.88913991]
 [0.5575335  0.19105882]
 [0.96042855 0.08832065]
 [0.76840659 0.63412661]
 [0.60090729 0.50046681]]
                col1      col2
2023-09-01  0.943749  0.889140
2023-09-02  0.557533  0.191059
2023-09-03  0.960429  0.088321
2023-09-04  0.768407  0.634127
2023-09-05  0.600907  0.500467

In [47]:
df = pd.DataFrame(np.random.randn(5, 5))
print(df)

# 將資料 暫時 隱藏 起來
df.style.hide(subset=[0, 2, 4], axis=0) \
        .hide(subset=[1, 3], axis=1)

          0         1         2         3         4
0  1.123413  0.546257 -0.309977  1.162999 -0.043797
1  0.170668  1.675287 -0.950758 -0.713084 -1.158570
2  0.113626 -1.227658 -0.996720 -0.246324  0.793215
3  0.091633 -0.261991  0.818060  0.273396  1.989950
4 -0.491825 -0.983535 -0.595822  0.155526  1.190109

In [48]:
def style_negative(v, props=''):
    return props if v < 0 else None

df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
print(df)

df.style.map(style_negative, props='color:red;')

          A         B         C         D
0 -0.445803  0.953883  2.403731  0.120694
1 -0.231955 -1.069121  0.617250  0.459951
2 -0.256562 -0.467344  0.583836  0.077020
3 -0.990044 -1.370820  0.867922 -0.264918
4 -0.234771  0.665252  1.277314  0.781900